:root {
  --padding-width: 20%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: sans-serif;
}

table {
  margin: 50px auto;
  border-spacing: 0;
}

thead {
  font-weight: 900;
  font-size: 0.85em;
}

td {
  min-width: 110px;
  padding: 13px 20px;
}

.data-row:nth-child(odd) {
  background-color: #f7f7f7;
}

.col-title {
  position: relative;
  cursor: pointer;
  user-select: none; 
  padding-bottom: 20px;
}

.col-title.active .title {
  text-decoration: underline dashed;
}

.col-title::before {
  content: "\f0dc";
  font-size: .9em;
  font-family: "FontAwesome";
  color: rgb(192, 192, 192);
  margin-right: 5px;
}

.col-title.active.down::before {
  content: "\f0dd";
  color: black;
}

.col-title.active.up::before {
  content: "\f0de";
  color: black;
}

.col-title.active.primary .title{
  text-decoration: underline solid;
}

.col-title.active::after {
  content: attr(data-index);
  display: block;
  position: absolute;
  left: 23px;
  top: 2px;
  text-align: center;
  color: grey;
  font-size: .9em;
  border-radius: 50%;
  width: 17px;
  height: 17px;
}
.col-title.active.primary::after {
  color: white;
  background: rgb(48, 128, 233);
}

td.active {
  font-weight: bolder;
}

.total,
.change,
.align-right {
  text-align: right;
}

.change {
  color: #008555;
}
.change.up::before {
  content: "+";
}
.change.down {
  color: #eb0025;
}
